'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'NEZ'
        'submenu': [
          {
            'label': 'Toggle'
            'command': 'nez:toggle'
          },
          {
            'label': 'Run with starting point'
            'command': 'nez:run with start point'
          }
        ]
      }
    ]
  }
]
