'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'NEZ'
        'submenu': [
          {
            'label': 'Toggle'
            'command': 'nez:toggle'
          },
          {
            'label': 'Set starting point'
            'command': 'nez:set starting point'
          },
          {
            'label': 'Go To Declaration'
            'command': 'nez:go-to-declaration'
          },
          {
            'label': 'Last Edit Position'
            'command': 'nez:last-edit-position'
          },
          {
            'label': 'Refactor Rule Name'
            'command': 'nez:refactor-rule-name'
          }
        ]
      }
    ]
  }
]
