'.platform-darwin':
  'ctrl-cmd-n': 'nez:toggle'
'.platform-win32':
  'alt-shift-N': 'nez:toggle'
'.platform-linux':
  'alt-shift-N': 'nez:toggle'

'.nez-view input':
  'enter': 'core:confirm'
'.nez-view textarea':
  'enter': 'core:confirm'

'atom-workspace':
  'alt-cmd-n': 'nez:go-to-declaration'
  'alt-cmd-b': 'nez:last-edit-position'
