@import "ui-variables";

.nez-view {
  color: @text-color;
}

.nez-view input { width: 100%; }
.nez-view textarea {
  //font-size: 11px;
  width: 100%;
}
.nez-view select { width: 100%; }
.nez-view pre {
  max-height: 200px;
  overflow: scroll;
}

.nez-preview {
    background-color: #fff;
}

.node {
	position: absolute;
	box-sizing: content-box;
  font-family: Arial, Meiryo;
  word-wrap: break-word;
	pointer-events: auto;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  h4 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 15px;
  }
}

.node-peg {
	padding: 5px 10px;
	width : 130px;
  color: #333333;
}

.node-default {
	fill: rgba(255,255,255,1.0);
	stroke: black;
	stroke-width: 2;
}

.node-selected {
	stroke: orange;
}
